* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-image: url("images/background_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}
/*Place an overlay to make the image darker*/
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
  pointer-events: none;
}
/* Navbar */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
nav {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: black;
}
.nav_links:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

nav li:first-child {
  margin-right: auto;
}
.logo {
  height: 50px;
}
/* Navbar End */
/*Side Bar*/
.side_bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.327);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px #00000066;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.side_bar li {
  width: 100%;
}
/*Side Bar End*/
/* Navbar and Side Bar Media Query*/
@media (max-width: 850px) {
  .hide_list_mobile {
    display: none;
  }
}
@media (min-width: 850px) {
  .hide_menu_bar {
    display: none;
  }
}
/*Navbar and Side Bar Media Query End*/
/* Main */
/* Home Section */
.home_section {
  height: 90vh;
  display: flex;
  padding: 0 200px;
  justify-content: flex-start;
  align-items: center;
}

.home_container {
  text-align: left;
  width: 450px;
  color: #ffffff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.home_container h1 {
  font-size: 3.4rem;
  font-weight: bold;
  padding-bottom: 20px;
}

.home_container h2 {
  font-size: 1.6rem;
  padding-bottom: 20px;
  color: #9acd32; /* Yellow Green (slightly toned down) */
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); /* Darker shadow for depth */
}

.home_container h3 {
  font-size: 1.2rem;
  padding-bottom: 20px;
}

.home_container a {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  transition: all 0.3s ease;
  border-radius: 5px;
  font-weight: bold;
}

.home_container a:hover {
  background-color: #333;
  color: white;
  border: 2px solid white;
}
/* Home Section End*/
/* Home Section Media Query*/
@media (max-width: 850px) {
  .home_section {
    padding: 0 50px;
    justify-content: center;
    align-items: center;
  }
  .home_container {
    text-align: center;
  }
  .home_container h1 {
    font-size: 2.5rem;
  }
}

/* Home Section Media Query End*/
/* Main End */
